/.gradle/
/build/
/out/
/bin/
/lib/
/.cache/
.idea/
.vscode/
*.iml
/.settings/
/.classpath
/.project
target/
*.log
Thumbs.db
.DS_Store
/.github/java-upgrade//.gradle
/build
/.idea
*.iml
*.class
.DS_Store

# Gradle wrapper
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
